/* 1.Для елемента з класом .box_container встановіть:
 - рамку шириною 3px, пунктирного типу та кольору goldenrod
 - внутрішні відступи по 25px з кожної сторони

 2.Для елементів з класом .box встановіть стилі:
 - виберіть відображення, щоб елементи одночасно могли знаходитися в одному рядку,
 але й зберігали блокові властивості 
 - ширину задайте 100px
 - висоту 50px
 - зовнішній відступ з правого боку та знизу по 15px
 - встановіть рамку товщиною 5px суцільного типу та кольору який вам подобається
 - задайте закруглені кути:
   верхній лівий 15px, 
   верхній правий 25px, 
   нижній правий 35px, 
   нижній лівий 45px
 - внутрішні відступи задайте збірною властивістю padding.
   верхній та нижній по 10px,
   лівий та правий по 45px.
  */
